name: sonar

on:
  workflow_dispatch:
  pull_request:
  push:

jobs:
  sonar:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-go@v3
      with:
        go-version: 1.17

    - name: Unit Tests
      working-directory: src
      run: go test -v ./...

    - name: Generate Coverage Report
      working-directory: src
      run: |
        go test -json -coverprofile=cover.out ./... > result.json
        go tool cover -func cover.out

    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@master
      with:
        projectBaseDir: src
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
